.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 200px));
  justify-content: center; /* Center the grid horizontally */
  gap: 20px;
  margin-top: 20px;
}

.post-card {
  aspect-ratio: 1 / 1;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.post-card a {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.post-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 0;
  flex-shrink: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
}

.post-card h3,
.post-card p {
  margin: 10px 10px 0 10px;
  flex: 0 0 auto;
}
.post-card p {
  margin-bottom: 10px;
  color: #555;
  font-size: 1em;
  line-height: 1.4;
  flex-grow: 1;
}

.post-card h3 {
  color: #00695c;
  font-size: 1.2em;
  margin-top: 10px;
  letter-spacing: 0.5px;
}

@media (max-width: 768px) {
  .post-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 140px));
  }
}

@media (max-width: 600px) {
  .post-grid {
    grid-template-columns: repeat(auto-fill, minmax(100px, 100px));
  }
}
